/* .center-content{
    margin-left: 20%;
    margin-right: 20%;
} */

.header{
    background-size: 40%;
    background-color: rgb(107, 169, 255);
    background-image: url("../img/pattern.png");
    height: 150px; /* altezza con valore fisso */
    position: relative; /* posiziona il contenuto al suo interno basandosi sul contenitore */
}

.logo{
    height: 50%;
    position: absolute; /* mantiene la posizione */
    bottom: 0; /* posiziona in basso */
    left: 0; /* posiziona a sinistra */
    margin-bottom: 0.5em;
    margin-left: 0.2em;
}

.soft{
    color: #7d7d7d; /* grigio chiaro */
    font-weight: 300;
}

.blue{
    color: rgb(76, 179, 253);
}

.tiny{
    font-size: small;
}

.yellow{
    background-color: yellow;
}

.table-header{
    color: white;
    background-color: rgb(76, 179, 253);

}

.back-color{
    background-color: rgb(149, 228, 247);
}

.table-config {
    width: 100%;
    border-collapse: collapse; /* Unisce i bordi delle celle */
    border-spacing: 0; /* Rimuove lo spazio tra le celle */
}
